.timetracker .total {
  border-top-color: #CCC;
  background: #EEE;
  color: #666;
  font-weight: bold;
}

.timetracker .field-timestamp {
  width : 17em;
}
.timetracker .field-uid { 
  width : 10em;
}
.timetracker .field-value { 
  width : 8em;
}

.timetracker .field-operations {
  width : 5em;
  vertical-align: middle;
  text-align: center;
}
